[submodule "arithlang"]
	path = coms342/arithlang
	url = myserver:~/repos/coms342
[submodule "sdmay"]
    path = coms491/project
    url = git@git.ece.iastate.edu:sd/sdmay19-21.git
[submodule "microservice"]
    path = se339/hw1/microservice
    url = https://github.com/ewolff/microservice.git
[submodule "pa1"]
    path = coms435/pa1
    url = git@github.com:John-Vincent/bloomFilters.git
[submodule "pa2"]
    path = coms435/pa2
    url = git@github.com:John-Vincent/JaccardSimilarity.git
[submodule "CS417-TestingProject"]
    path = coms417/CS417-TestingProject
    url = git@github.com:Desseler/CS417-TestingProject.git
[submodule "fleetManagement"]
	path = se339/fleetManagement
	url = ssh://vm-user@se329-05.ece.iastate.edu/home/vm-user/git/fleetManagement.git
[submodule "pa4"]
    path = coms435/pa4
    url = git@github.com:ryanmcc13/PA4.git
